<!DOCTYPE html>
<html>
<head>
    <title>{{> title}}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style/bootstrap.css">
    <link rel="stylesheet"  href="style/style.css">
</head>
<body class="teacher-page">
    {{> menu}}
        <h1>
            <b>
                <i>
                    Поздравляю с днем учителя!!!
                </i>
            </b>
        </h1>
        <img src="publish/cat.jpg" alt="g" width="100px">
        {{!-- <audio src="2518__-__.mp3" autoplay="autoplay">
            
        </audio> --}}
        {{!-- <p>Электронный адрес: vadim@mycorp.com</p> --}}
        {{!-- <a href="/">go to main page </a> --}}
</body>
<html>